PORT=3001
NODE_ENV=development
FRONTEND_URL="http://localhost:3000"

# Database (Supabase)
DATABASE_URL="postgresql://user:pass@db.supabase.co:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://user:pass@db.supabase.co:5432/postgres"

# Google Auth & APIs
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="https://api.goceng.app/v1/auth/google/callback"
MASTER_SPREADSHEET_ID=""

# WhatsApp Meta API
WA_VERIFY_TOKEN=""
WA_ACCESS_TOKEN=""
WA_PHONE_NUMBER_ID=""

# Security
JWT_SECRET=""
TOKEN_ENCRYPTION_KEY=""
INTERNAL_API_KEY=""
